---
# 模拟一些配置操作

- name: 设置 yum 源
  shell: |
    mkdir /etc/yum.repos.d/old_repo
    mv /etc/yum.repos.d/*.repo /etc/yum.repos.d/old_repo/
    curl -o /etc/yum.repos.d/CentOS-Base.repo http://mirrors.crpm.cn/repo/Centos-7-huawei.repo
    yum makecache

- name: 安装 httpd
  yum: name=httpd state=present
# - name: 添加 httpd 配置文件
#   template: src=static_site_conf.j2 dest=/etc/httpd/conf.d/
#   notify: restart httpd
